* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

a {
    color: currentColor;
    text-decoration: none;
}

html {
    font-family: 'Noto Sans JP', sans-serif;
}

.header-container {
    padding: 15px 0 40px;
}

.header-title {
    text-align: center;
    color: deeppink;
    font-family: 'Fredoka One', cursive;
}

.paragraph-container {
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 40px;
    text-align: center;
}

.cards-container {
    max-width: 1000px;
    margin: 0 auto;
}

.card {
    background-color: rgb(0, 0, 46);
    color: white;
    float: left;
    width: 32%;
    margin-right: 2%;
    margin-bottom: 40px;
    height: 100px;
    box-shadow: 0 0 5px rgb(0 0 0 / 0.6);
}

.card:nth-child(3n) {
    margin-right: 0;
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

.card-text {
   float: left;
   max-width: 65%;
   font-size: 16px;
   height: 100px;
   padding: 10px 0 10px 5px;
   
}


figure img {
    width: 100px;
    vertical-align: middle;
}

.card figure{
    width: 100px;
    height: 100px;
    float: left;
}

.card-text span {
    display: inline-block;
    vertical-align: middle;
    margin: 2px 0;
}

span:last-child {
    margin-bottom: 0;
}

span:first-child {
    margin-top: 0;
}

.mail {
    color: aqua;
}

.name {
    font-family: 'Fredoka One', cursive;
    font-size: 16px;
}







